
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flex-center {
  @extend .flex;
  align-items: center;
  justify-content: center;
}
.flex-row {
  @extend .flex;
  flex-direction: row;
}
.flex-column {
  @extend .flex;
  flex-direction: column;
}
.flex {
  display: flex;
}
@for $i from 0 through 100 {
  .font-#{$i} {
    font-size: 1px * $i !important;
  }
  .width-#{$i} {
    width: 1px * $i !important;
  }
  .height-#{$i} {
    height: 1px * $i !important;
  }
  .ml-#{$i} {
    margin-left: 1px * $i !important;
  }
  .mr-#{$i} {
    margin-right: 1px * $i !important;
  }
  .mt-#{$i} {
    margin-top: 1px * $i !important;
  }
  .mb-#{$i} {
    margin-bottom: 1px * $i !important;
  }
  .pl-#{$i} {
    padding-left: 1px * $i !important;
  }
  .pr-#{$i} {
    padding-right: 1px * $i !important;
  }
  .pt-#{$i} {
    padding-top: 1px * $i !important;
  }
  .pb-#{$i} {
    padding-bottom: 1px * $i !important;
  }
}

@mixin flex-allCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin full-width-height {
  width: 100%;
  height: 100%;
}

// 空白数据的显示图片
@mixin empty-data($empty-imgWidth:$empty-imgWidth, $empty-imgHeight:$empty-imgHeight, $empty-fontSize:$empty-fontSize) {
  flex-direction: column;
  @include flex-allCenter;
  @include full-width-height;
  img {
    width: $empty-imgWidth;
    height: $empty-imgHeight;
  }
  p {
    margin-top: 1%;
    font-size: $empty-fontSize;
    height: $empty-fontSize + 2px;
    line-height: $empty-fontSize + 2px;
    color: #c0c4cc;
  }
}