.el-button {
  border-radius: 4px;

}
.el-button + .el-button {
  margin-left: 10px;
}
.el-button--default {
  background:rgba(255,255,255,1);
  border:1px solid rgb(3, 110, 213);
  color: rgb(3, 110, 213);
  &:hover {
    background: rgba(255,255,255,1);
    border: 1px solid rgb(3, 110, 213);
    color: rgb(3, 110, 213);
  }
  &:active {
    background: rgba(255,255,255,1);
    border: 1px solid rgb(3, 110, 213);
    color: rgb(3, 110, 213);
  }
  &:focus {
    background: rgba(255,255,255,1);
    border: 1px solid rgb(3, 110, 213);
    color: rgb(3, 110, 213);
  }
}

.el-button--mini {
  padding: 6px 20px;
  span {
    font-size: 12px;
  }
}