.el-table {
  height: 100%;

  .el-table__body-wrapper {
    height: calc(100% - 40px);
    overflow-y: auto;
  }

  tr {
    height: 40px;
  }

  .el-button+.el-button {
    margin-left: 0;
  }

  .el-button--text {
    padding: 0 5px;
    color: #036ED5;
  }
}

.el-table .cell {
  padding: 0 20px;
}

.el-table th>.cell {
  color: #909399;
  font-weight: 400;
  padding: 0 20px;
}

.el-table td div {
  width: 100%;
  color: #303133;
}

.el-table td {
  padding: 0;
  height: 54px;
}

.el-table th {
  padding: 3px 0;
  background-color: inherit;
}